In [474]:
import numpy as np
import pandas as pd

In [475]:
df = pd.read_csv("output_dataset(1).csv")

In [476]:
df

,Unnamed: 0,SUBJECT_ID,HADM_ID,TIME_BLOCKS_SINCE_ADMITTED,DISCHARGED_WITHIN_BLOCKS,READMITTED_TIMES_REMAINING,50800_ID,50800_VALUENUM,50800_ABNORMAL_FLAG,50802_ID,...,51394_ABNORMAL_FLAG,51406_ID,51406_VALUENUM,51406_ABNORMAL_FLAG,51413_ID,51413_VALUENUM,51413_ABNORMAL_FLAG,51415_ID,51415_VALUENUM,51415_ABNORMAL_FLAG
0,0,163,138528,0,14,0,50800.0,NaN,0.0,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,163,138528,1,13,0,50800.0,NaN,0.0,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,163,138528,2,12,0,50800.0,NaN,0.0,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,163,138528,3,11,0,50800.0,NaN,0.0,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,163,138528,4,10,0,50800.0,NaN,0.0,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322000,322000,99913,175989,43,4,0,NaN,NaN,NaN,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322001,322001,99913,175989,44,3,0,NaN,NaN,NaN,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322002,322002,99913,175989,45,2,0,NaN,NaN,NaN,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322003,322003,99913,175989,46,1,0,NaN,NaN,NaN,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
322004,322004,99913,175989,47,0,0,NaN,NaN,NaN,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## How many times people are readmitted

In [477]:
np.mean(np.asarray(df['READMITTED_TIMES_REMAINING']))

0.14708156705641218

In [478]:
df.iloc[5794]

Unnamed: 0                      5794.0
SUBJECT_ID                      1369.0
HADM_ID                       186547.0
TIME_BLOCKS_SINCE_ADMITTED        26.0
DISCHARGED_WITHIN_BLOCKS         401.0
                                ...
51413_VALUENUM                     NaN
51413_ABNORMAL_FLAG                NaN
51415_ID                           NaN
51415_VALUENUM                     NaN
51415_ABNORMAL_FLAG                NaN
Name: 5794, Length: 1722, dtype: float64

In [479]:
df.iloc[5794]['READMITTED_TIMES_REMAINING']

0.0

## Analysis on Individual Lab Results

In [480]:
LAB_THRESHOLD = 250000
LABS = []

for col in df.columns:
    if col.endswith("_ID") and "SUBJECT" not in col and "HADM" not in col: # all lab columns
        if len(df[df[col] == int(col[:-3])]) >= LAB_THRESHOLD:
            print("Lab:", col, "has", len(df[df[col] == int(col[:-3])]), "entries")
            LABS.append(col[:-3]+"_VALUENUM")
            LABS.append(col[:-3]+"_ABNORMAL_FLAG")

print("Labs we will use:", LABS)
print(len(LABS)//2)

Lab: 50868_ID has 319694 entries
Lab: 50882_ID has 319989 entries
Lab: 50893_ID has 297304 entries
Lab: 50902_ID has 320041 entries
Lab: 50912_ID has 320569 entries
Lab: 50931_ID has 319588 entries
Lab: 50960_ID has 310193 entries
Lab: 50970_ID has 296388 entries
Lab: 50971_ID has 320251 entries
Lab: 50983_ID has 319880 entries
Lab: 51006_ID has 320528 entries
Lab: 51221_ID has 320589 entries
Lab: 51222_ID has 320119 entries
Lab: 51237_ID has 313799 entries
Lab: 51248_ID has 320101 entries
Lab: 51249_ID has 320101 entries
Lab: 51250_ID has 320101 entries
Lab: 51265_ID has 320521 entries
Lab: 51274_ID has 313602 entries
Lab: 51275_ID has 312655 entries
Lab: 51277_ID has 320085 entries
Lab: 51279_ID has 320101 entries
Lab: 51301_ID has 320139 entries
Lab: 51491_ID has 257335 entries
Lab: 51498_ID has 256208 entries
Labs we will use: ['50868_VALUENUM', '50868_ABNORMAL_FLAG', '50882_VALUENUM', '50882_ABNORMAL_FLAG', '50893_VALUENUM', '50893_ABNORMAL_FLAG', '50902_VALUENUM', '50902_ABNORMAL_FLAG', '50912_VALUENUM', '50912_ABNORMAL_FLAG', '50931_VALUENUM', '50931_ABNORMAL_FLAG', '50960_VALUENUM', '50960_ABNORMAL_FLAG', '50970_VALUENUM', '50970_ABNORMAL_FLAG', '50971_VALUENUM', '50971_ABNORMAL_FLAG', '50983_VALUENUM', '50983_ABNORMAL_FLAG', '51006_VALUENUM', '51006_ABNORMAL_FLAG', '51221_VALUENUM', '51221_ABNORMAL_FLAG', '51222_VALUENUM', '51222_ABNORMAL_FLAG', '51237_VALUENUM', '51237_ABNORMAL_FLAG', '51248_VALUENUM', '51248_ABNORMAL_FLAG', '51249_VALUENUM', '51249_ABNORMAL_FLAG', '51250_VALUENUM', '51250_ABNORMAL_FLAG', '51265_VALUENUM', '51265_ABNORMAL_FLAG', '51274_VALUENUM', '51274_ABNORMAL_FLAG', '51275_VALUENUM', '51275_ABNORMAL_FLAG', '51277_VALUENUM', '51277_ABNORMAL_FLAG', '51279_VALUENUM', '51279_ABNORMAL_FLAG', '51301_VALUENUM', '51301_ABNORMAL_FLAG', '51491_VALUENUM', '51491_ABNORMAL_FLAG', '51498_VALUENUM', '51498_ABNORMAL_FLAG']
25

In [481]:
# Feature Set
VITALS = ["SUBJECT_ID", "HADM_ID", "TIME_BLOCKS_SINCE_ADMITTED", "DISCHARGED_WITHIN_BLOCKS","READMITTED_TIMES_REMAINING"]
FINAL_FRAME = VITALS + LABS

In [482]:
df[FINAL_FRAME]

,SUBJECT_ID,HADM_ID,TIME_BLOCKS_SINCE_ADMITTED,DISCHARGED_WITHIN_BLOCKS,READMITTED_TIMES_REMAINING,50868_VALUENUM,50868_ABNORMAL_FLAG,50882_VALUENUM,50882_ABNORMAL_FLAG,50893_VALUENUM,...,51277_VALUENUM,51277_ABNORMAL_FLAG,51279_VALUENUM,51279_ABNORMAL_FLAG,51301_VALUENUM,51301_ABNORMAL_FLAG,51491_VALUENUM,51491_ABNORMAL_FLAG,51498_VALUENUM,51498_ABNORMAL_FLAG
0,163,138528,0,14,0,21.0,1.0,20.0,1.0,9.0,...,16.8,1.0,3.98,1.0,25.2,1.0,5.0,0.0,1.008,0.0
1,163,138528,1,13,0,21.0,1.0,20.0,1.0,9.0,...,16.8,1.0,3.98,1.0,25.2,1.0,5.0,0.0,1.008,0.0
2,163,138528,2,12,0,21.0,1.0,20.0,1.0,9.0,...,16.8,1.0,3.98,1.0,25.2,1.0,5.0,0.0,1.008,0.0
3,163,138528,3,11,0,21.0,1.0,20.0,1.0,9.0,...,16.8,1.0,3.98,1.0,25.2,1.0,5.0,0.0,1.008,0.0
4,163,138528,4,10,0,21.0,1.0,20.0,1.0,9.0,...,16.8,1.0,3.98,1.0,25.2,1.0,5.0,0.0,1.008,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322000,99913,175989,43,4,0,14.0,0.0,24.0,0.0,8.9,...,13.6,0.0,3.37,1.0,6.4,0.0,5.0,0.0,1.012,0.0
322001,99913,175989,44,3,0,15.0,0.0,25.0,0.0,8.0,...,13.6,0.0,3.60,1.0,7.7,0.0,5.0,0.0,1.012,0.0
322002,99913,175989,45,2,0,15.0,0.0,25.0,0.0,8.0,...,13.6,0.0,3.60,1.0,7.7,0.0,5.0,0.0,1.012,0.0
322003,99913,175989,46,1,0,15.0,0.0,25.0,0.0,8.0,...,13.6,0.0,3.60,1.0,7.7,0.0,5.0,0.0,1.012,0.0
322004,99913,175989,47,0,0,15.0,0.0,25.0,0.0,8.0,...,13.6,0.0,3.60,1.0,7.7,0.0,5.0,0.0,1.012,0.0

In [483]:
df = df[df["TIME_BLOCKS_SINCE_ADMITTED"] + df["DISCHARGED_WITHIN_BLOCKS"] < 6 * 5] # Filter for people that stay for at most 5 days

In [484]:
df

,Unnamed: 0,SUBJECT_ID,HADM_ID,TIME_BLOCKS_SINCE_ADMITTED,DISCHARGED_WITHIN_BLOCKS,READMITTED_TIMES_REMAINING,50800_ID,50800_VALUENUM,50800_ABNORMAL_FLAG,50802_ID,...,51394_ABNORMAL_FLAG,51406_ID,51406_VALUENUM,51406_ABNORMAL_FLAG,51413_ID,51413_VALUENUM,51413_ABNORMAL_FLAG,51415_ID,51415_VALUENUM,51415_ABNORMAL_FLAG
0,0,163,138528,0,14,0,50800.0,NaN,0.0,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,163,138528,1,13,0,50800.0,NaN,0.0,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,163,138528,2,12,0,50800.0,NaN,0.0,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,163,138528,3,11,0,50800.0,NaN,0.0,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,163,138528,4,10,0,50800.0,NaN,0.0,50802.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321952,321952,99903,135939,20,4,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321953,321953,99903,135939,21,3,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321954,321954,99903,135939,22,2,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321955,321955,99903,135939,23,1,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321956,321956,99903,135939,24,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [485]:
# T = (df["DISCHARGED_WITHIN_BLOCKS"] == 0).astype(int)
# print(sum(T)/len(T)) # ratio of times one chooses to discharge vs time chosen to 

T = df[["HADM_ID", "DISCHARGED_WITHIN_BLOCKS"]]
T["DISCHARGED_WITHIN_BLOCKS"] = (df["DISCHARGED_WITHIN_BLOCKS"] == 0).astype(int)
print(sum(T["DISCHARGED_WITHIN_BLOCKS"])/len(T)) # ratio of times one chooses to discharge vs time chosen to 

T

0.05044981478214853

        HADM_ID  DISCHARGED_WITHIN_BLOCKS
0        138528                         0
1        138528                         0
2        138528                         0
3        138528                         0
4        138528                         0
...         ...                       ...
321952   135939                         0
321953   135939                         0
321954   135939                         0
321955   135939                         0
321956   135939                         1

[39683 rows x 2 columns]

In [486]:
y = df[["HADM_ID", "READMITTED_TIMES_REMAINING"]]
#y["READMITTED_TIMES_REMAINING"] = (df["READMITTED_TIMES_REMAINING"] > 0).astype(int) # this makes the y probabilistic rather than # of visits. can choose to use or not!!
print(sum(y["READMITTED_TIMES_REMAINING"])/len(y)) # average number of times someone is readmitted to hospital

0.19970768339087266

In [487]:
print(max(df["TIME_BLOCKS_SINCE_ADMITTED"]))

29

In [488]:
X_features = ["HADM_ID", "TIME_BLOCKS_SINCE_ADMITTED"]+LABS
X = df[X_features]
X = X.fillna(0)
X

,HADM_ID,TIME_BLOCKS_SINCE_ADMITTED,50868_VALUENUM,50868_ABNORMAL_FLAG,50882_VALUENUM,50882_ABNORMAL_FLAG,50893_VALUENUM,50893_ABNORMAL_FLAG,50902_VALUENUM,50902_ABNORMAL_FLAG,...,51277_VALUENUM,51277_ABNORMAL_FLAG,51279_VALUENUM,51279_ABNORMAL_FLAG,51301_VALUENUM,51301_ABNORMAL_FLAG,51491_VALUENUM,51491_ABNORMAL_FLAG,51498_VALUENUM,51498_ABNORMAL_FLAG
0,138528,0,21.0,1.0,20.0,1.0,9.0,0.0,104.0,0.0,...,16.8,1.0,3.98,1.0,25.2,1.0,5.0,0.0,1.008,0.0
1,138528,1,21.0,1.0,20.0,1.0,9.0,0.0,104.0,0.0,...,16.8,1.0,3.98,1.0,25.2,1.0,5.0,0.0,1.008,0.0
2,138528,2,21.0,1.0,20.0,1.0,9.0,0.0,104.0,0.0,...,16.8,1.0,3.98,1.0,25.2,1.0,5.0,0.0,1.008,0.0
3,138528,3,21.0,1.0,20.0,1.0,9.0,0.0,104.0,0.0,...,16.8,1.0,3.98,1.0,25.2,1.0,5.0,0.0,1.008,0.0
4,138528,4,21.0,1.0,20.0,1.0,9.0,0.0,104.0,0.0,...,16.8,1.0,3.98,1.0,25.2,1.0,5.0,0.0,1.008,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321952,135939,20,10.0,0.0,27.0,0.0,9.2,0.0,109.0,1.0,...,13.4,0.0,4.97,0.0,5.4,0.0,0.0,0.0,0.000,0.0
321953,135939,21,10.0,0.0,27.0,0.0,9.2,0.0,109.0,1.0,...,13.4,0.0,4.97,0.0,5.4,0.0,0.0,0.0,0.000,0.0
321954,135939,22,10.0,0.0,27.0,0.0,9.2,0.0,109.0,1.0,...,13.4,0.0,4.97,0.0,5.4,0.0,0.0,0.0,0.000,0.0
321955,135939,23,10.0,0.0,27.0,0.0,9.2,0.0,109.0,1.0,...,13.4,0.0,4.97,0.0,5.4,0.0,0.0,0.0,0.000,0.0
321956,135939,24,10.0,0.0,27.0,0.0,9.2,0.0,109.0,1.0,...,13.4,0.0,4.97,0.0,5.4,0.0,0.0,0.0,0.000,0.0

In [489]:
patient_df = pd.read_csv("mimic-iii-clinical-database-1.4/ADMISSIONS.csv")

In [490]:
patient_basics = patient_df[["HADM_ID", "LANGUAGE", "INSURANCE", "MARITAL_STATUS", "ETHNICITY"]]

In [491]:
patient_basics["LANGUAGE"].unique() #english = 1, spanish = 2, mand/cant = 3, else = 0

array([nan, 'ENGL', 'VIET', 'PORT', 'MAND', 'CANT', 'SPAN', 'RUSS',
       'CAPE', '*MAN', 'PTUN', 'HIND', 'ITAL', 'HAIT', 'GREE', 'CAMB',
       '*ARM', '*CHI', 'ALBA', '*DEA', 'POLI', 'FREN', 'ARAB', 'AMER',
       'LAOT', '*PUN', '*URD', '*BUR', '*BEN', '*TOY', '*HUN', 'KORE',
       'THAI', 'PERS', 'ETHI', 'JAPA', '*PHI', '*IBO', '*LEB', '*FUL',
       'URDU', '*SPA', '*RUS', 'SOMA', '* BE', '*CAN', '*CDI', 'TURK',
       '*TOI', 'GERM', '*GUJ', '*BOS', '*BUL', '*TEL', '*YID', '*ROM',
       '**TO', 'BENG', '*AMH', 'TAGA', '* FU', '*MOR', '*ARA', '*YOR',
       '*FAR', '*DUT', 'SERB', '*KHM', '** T', '*NEP', '*CRE', '*FIL',
       '*LIT', '*PER', '**SH', '*TAM'], dtype=object)

In [492]:
patient_basics["INSURANCE"].unique() #private = 0, medicare = 1, ...

array(['Private', 'Medicare', 'Medicaid', 'Self Pay', 'Government'],
      dtype=object)

In [493]:
patient_basics["MARITAL_STATUS"].unique()

array(['MARRIED', 'SINGLE', nan, 'DIVORCED', 'WIDOWED', 'SEPARATED',
       'UNKNOWN (DEFAULT)', 'LIFE PARTNER'], dtype=object)

In [494]:
patient_basics["ETHNICITY"].unique()

array(['WHITE', 'UNKNOWN/NOT SPECIFIED', 'MULTI RACE ETHNICITY',
       'BLACK/AFRICAN AMERICAN', 'HISPANIC OR LATINO',
       'PATIENT DECLINED TO ANSWER', 'ASIAN', 'OTHER',
       'HISPANIC/LATINO - GUATEMALAN', 'ASIAN - VIETNAMESE',
       'AMERICAN INDIAN/ALASKA NATIVE', 'WHITE - RUSSIAN',
       'HISPANIC/LATINO - PUERTO RICAN', 'ASIAN - CHINESE',
       'ASIAN - ASIAN INDIAN', 'BLACK/AFRICAN',
       'HISPANIC/LATINO - SALVADORAN', 'HISPANIC/LATINO - DOMINICAN',
       'UNABLE TO OBTAIN', 'BLACK/CAPE VERDEAN', 'BLACK/HAITIAN',
       'WHITE - OTHER EUROPEAN', 'PORTUGUESE', 'SOUTH AMERICAN',
       'WHITE - EASTERN EUROPEAN', 'CARIBBEAN ISLAND', 'ASIAN - FILIPINO',
       'ASIAN - CAMBODIAN', 'HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)',
       'WHITE - BRAZILIAN', 'ASIAN - KOREAN',
       'HISPANIC/LATINO - COLOMBIAN', 'ASIAN - JAPANESE',
       'NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER', 'ASIAN - THAI',
       'HISPANIC/LATINO - HONDURAN', 'HISPANIC/LATINO - CUBAN',
       'MIDDLE EASTERN', 'ASIAN - OTHER', 'HISPANIC/LATINO - MEXICAN',
       'AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE'],
      dtype=object)

In [495]:
for idx, elem in enumerate(patient_basics["INSURANCE"].unique()):
    patient_basics.loc[patient_basics["INSURANCE"] == elem, "INSURANCE"] = idx

In [496]:
for idx, elem in enumerate(patient_basics["MARITAL_STATUS"].unique()):
    patient_basics.loc[patient_basics["MARITAL_STATUS"] == elem, "MARITAL_STATUS"] = idx
patient_basics["MARITAL_STATUS"] = patient_basics["MARITAL_STATUS"].fillna(6)

In [497]:
for idx, elem in enumerate(patient_basics["LANGUAGE"].unique()):
    if elem == "ENGL":
        patient_basics.loc[patient_basics["LANGUAGE"] == elem, "LANGUAGE"] = 1
    elif elem == "SPAN":
        patient_basics.loc[patient_basics["LANGUAGE"] == elem, "LANGUAGE"] = 2
    elif elem == "CANT" or elem == "MAND":
        patient_basics.loc[patient_basics["LANGUAGE"] == elem, "LANGUAGE"] = 3
    else:
        patient_basics.loc[patient_basics["LANGUAGE"] == elem, "LANGUAGE"] = 0
        
patient_basics["LANGUAGE"] = patient_basics["LANGUAGE"].fillna(0)

In [498]:
for idx, elem in enumerate(patient_basics["ETHNICITY"].unique()):
    if "WHITE" in elem or "PORTUGUESE" in elem:
        patient_basics.loc[patient_basics["ETHNICITY"] == elem, "ETHNICITY"] = 0
    elif "ASIAN" in elem:
        patient_basics.loc[patient_basics["ETHNICITY"] == elem, "ETHNICITY"] = 1
    elif "AFRICAN" in elem or "BLACK" in elem:
        patient_basics.loc[patient_basics["ETHNICITY"] == elem, "ETHNICITY"] = 2
    elif "HISPANIC" in elem or "SOUTH AMERICAN" in elem:
        patient_basics.loc[patient_basics["ETHNICITY"] == elem, "ETHNICITY"] = 3
    elif "MIDDLE EASTERN" in elem:
        patient_basics.loc[patient_basics["ETHNICITY"] == elem, "ETHNICITY"] = 4
    elif "NATIVE"in elem:
        patient_basics.loc[patient_basics["ETHNICITY"] == elem, "ETHNICITY"] = 5
    else:
        patient_basics.loc[patient_basics["ETHNICITY"] == elem, "ETHNICITY"] = 6

In [499]:
patient_basics

       HADM_ID  LANGUAGE INSURANCE  MARITAL_STATUS ETHNICITY
0       165315         0         0               0         0
1       152223         0         1               0         0
2       124321         1         1               0         0
3       161859         0         0               1         0
4       129635         0         0               0         0
...        ...       ...       ...             ...       ...
58971   191113         1         0               1         0
58972   101071         1         1               4         0
58973   122631         1         0               0         0
58974   170407         1         0               0         0
58975   190264         1         0               0         0

[58976 rows x 5 columns]

In [500]:
pd.options.mode.chained_assignment = None  

for hospital_id in X["HADM_ID"]:
    for feature in ["LANGUAGE", "INSURANCE", "MARITAL_STATUS", "ETHNICITY"]:
        elem = int(patient_basics.loc[patient_basics["HADM_ID"] == int(hospital_id), feature])
        X.loc[X["HADM_ID"] == int(hospital_id), feature] = elem

In [501]:
X

,HADM_ID,TIME_BLOCKS_SINCE_ADMITTED,50868_VALUENUM,50868_ABNORMAL_FLAG,50882_VALUENUM,50882_ABNORMAL_FLAG,50893_VALUENUM,50893_ABNORMAL_FLAG,50902_VALUENUM,50902_ABNORMAL_FLAG,...,51301_VALUENUM,51301_ABNORMAL_FLAG,51491_VALUENUM,51491_ABNORMAL_FLAG,51498_VALUENUM,51498_ABNORMAL_FLAG,LANGUAGE,INSURANCE,MARITAL_STATUS,ETHNICITY
0,138528,0,21.0,1.0,20.0,1.0,9.0,0.0,104.0,0.0,...,25.2,1.0,5.0,0.0,1.008,0.0,0.0,1.0,0.0,0.0
1,138528,1,21.0,1.0,20.0,1.0,9.0,0.0,104.0,0.0,...,25.2,1.0,5.0,0.0,1.008,0.0,0.0,1.0,0.0,0.0
2,138528,2,21.0,1.0,20.0,1.0,9.0,0.0,104.0,0.0,...,25.2,1.0,5.0,0.0,1.008,0.0,0.0,1.0,0.0,0.0
3,138528,3,21.0,1.0,20.0,1.0,9.0,0.0,104.0,0.0,...,25.2,1.0,5.0,0.0,1.008,0.0,0.0,1.0,0.0,0.0
4,138528,4,21.0,1.0,20.0,1.0,9.0,0.0,104.0,0.0,...,25.2,1.0,5.0,0.0,1.008,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321952,135939,20,10.0,0.0,27.0,0.0,9.2,0.0,109.0,1.0,...,5.4,0.0,0.0,0.0,0.000,0.0,1.0,0.0,0.0,2.0
321953,135939,21,10.0,0.0,27.0,0.0,9.2,0.0,109.0,1.0,...,5.4,0.0,0.0,0.0,0.000,0.0,1.0,0.0,0.0,2.0
321954,135939,22,10.0,0.0,27.0,0.0,9.2,0.0,109.0,1.0,...,5.4,0.0,0.0,0.0,0.000,0.0,1.0,0.0,0.0,2.0
321955,135939,23,10.0,0.0,27.0,0.0,9.2,0.0,109.0,1.0,...,5.4,0.0,0.0,0.0,0.000,0.0,1.0,0.0,0.0,2.0
321956,135939,24,10.0,0.0,27.0,0.0,9.2,0.0,109.0,1.0,...,5.4,0.0,0.0,0.0,0.000,0.0,1.0,0.0,0.0,2.0

In [502]:
T

        HADM_ID  DISCHARGED_WITHIN_BLOCKS
0        138528                         0
1        138528                         0
2        138528                         0
3        138528                         0
4        138528                         0
...         ...                       ...
321952   135939                         0
321953   135939                         0
321954   135939                         0
321955   135939                         0
321956   135939                         1

[39683 rows x 2 columns]

In [503]:
y

        HADM_ID  READMITTED_TIMES_REMAINING
0        138528                           0
1        138528                           0
2        138528                           0
3        138528                           0
4        138528                           0
...         ...                         ...
321952   135939                           0
321953   135939                           0
321954   135939                           0
321955   135939                           0
321956   135939                           0

[39683 rows x 2 columns]

In [504]:
X.to_csv("mimic-features.csv", index=False)
y.to_csv("mimic-outcomes.csv", index=False)
T.to_csv("mimic-treatments.csv", index=False)